* {
  box-sizing: border-box;
}

body {
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: linear-gradient(229.99deg, #365d70 -26%, #93bdd5 145%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  max-height: 600px;
  flex-wrap: wrap;
  overflow: hidden;
}

.square {
  width: 25px;
  height: 25px;
  box-shadow: 0 0 2px #000;
  transition: 2s ease;
  margin: 2px;
  background-color: #000000;
}

.square:hover {
  transition-duration: 0s;
}